body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: sans-serif;
    font-size: 17px;
}

img {
    max-width: 100%;
}

header {
    text-align: center;
    background-image: url("./fotos/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;    
}

h1 {
    font-size: 60px;
    margin-bottom: 5px;
    font-family: sans-serif;
    font-weight: 600;
}

.editie {
    background-color: white;
    opacity: 0.7;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.artikel {
    margin: 30px 10px;
    background-color: white;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    max-width: 1000px;
}

.titel {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; 
}

.titel div:nth-child(2) {
    text-align: right;
}

.fotoredactie {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: space-around;
}

.fotoredactie img {
    border-radius: 50%;
}

.fotokrant {
    display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
}

.fotokrant img {
    border: 3px solid;
}

.attentie {
    font-size: 30px;
    text-align: center;
}

.attentie p {
    background-color: #66FF33;
    padding: 5px 20px;
}

footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 40px;
}

.maand {
    text-align: center;
    padding: 10px;
}

.maand p {
    margin: 10px;
}

.maand p:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
    margin: 15px;
}


@media (min-width: 800px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 80px;
    }
    .artikel {
        margin: 40px;
        padding: 20px;
    }
    .titel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 19px;
    }
    .fotoeen {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }
    .fototwee {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 10px;
        justify-content: center;
    }
    .fototwee img {
        max-width: 49%;
    }
    .fotodrie {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
        justify-content: center;
        align-items: baseline;
    }
    .fotodrie img {
        max-width: 32%;
    }
    .fotovier {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 5px;
        justify-content: center;
        align-items: baseline;
    }
    .fotovier img:nth-child(1) {
        max-width: 18%;
    }
    .fotovier img:nth-child(2) {
        max-width: 32%;
    }
    .fotovier img:nth-child(3) {
        max-width: 32%;
    }
    .fotovier img:nth-child(4) {
        max-width: 18%;
    }    
    .fotodriecar {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;
        justify-content: center;
    }
    .fotodriecar img:nth-child(1) {
        max-width: 42%;
    }
    .fotodriecar img:nth-child(2) {
        max-width: 16%;
    }
    .fotodriecar img:nth-child(3) {
        max-width: 42%;
    }        
    .verjaardagen {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
}